@using Bilge_College.Models.DTOs.SchoolReport
@model List<AddSchoolReportDTO>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Notes";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="card dashboard-card-eleven">
        <div class="card-body">
            <div class="col-4-xxxl col-lg-4 col-4 form-group">
                <h3>Dönem Seçimi</h3>
                <select class="select2">
                    <option value="">Aradığınız Dönemi Seçiniz.</option>
                    @foreach (var SchoolReport in Model)
                    {
                        <option value="@Convert.ToInt32(SchoolReport.Term)">@Convert.ToInt32(SchoolReport.Term)<p>.Dönem</p></option>
                    }
                </select>
            </div>
            <div class="heading-layout1">

                <div class="item-title">
                    <h3>Notlarım</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-action="Notes">
                            <i class="fas fa-redo-alt text-orange-peel"></i>Refresh
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-box-wrap">
                <form class="search-form-box">
                </form>
                <div class="table-responsive result-table-box">
                    <table class="table display data-table text-nowrap">
                        <thead>
                            <tr>
                                <th>Ders Adı</th>
                                <th>1.Sınav Notu</th>
                                <th>2.Sınav Notu</th>
                                <th>Not Ortalaması</th>
                                <th>Sonuç Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var SchoolReport in )
                            {
                                <tr>
@*                                    <td>@Sc.Notes.SubSubjectsName</td>
                                    <td>@item.FirstExamScore</td>
                                    <td>@item.SecondExamScore</td>
                                    <td>@item.AvarageScore</td>
                                    <td>@item.TimeAgo önce girildi</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

