@using Bilge_College.Models.DTOs.Student.StudentNotice
@model List<AddStudentNoticeDTO>
@{
    ViewData["Title"] = "Notice Board";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="col-12-xxxl col-12">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Duyuru Panosu</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">
                    <div class="col-lg-5 col-12 form-group">
                        <input type="text" placeholder="Search by Date ..." class="form-control">
                    </div>
                    <div class="col-lg-5 col-12 form-group">
                        <input type="text" placeholder="Search by Title ..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>
                </div>
            </form>
            <div class="notice-board-wrap">
                @if (Model != null)
                {
                    @foreach (var item in @Model)
                    {
                        <div class="notice-list">
                            <div class="post-date bg-skyblue">@item.CreateDate.ToString("dd.MM.yyyy")</div>
                            <h6 class="notice-title"><a href="#">@item.Title</a></h6>
                            <p>@item.Description</p>
                            <div class="entry-meta">  @item.Admin.FirstName @item.Admin.LastName tarafından <span id="@item.AdminId@item.StudentId"> @item.TimeAgo önce gönderildi.</span></div>
                        </div>
                    }
                }
                else
                {
                    <p>@ViewBag.NoNotices;</p>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:5001/TimeHub").build();
    connection.start();
    setInterval(function () {
        connection.invoke("SendTime");
    }, 10000);
    connection.on("ReceiveTime", (items) => {
        for (var i = 0; i < items.length; i++) {
            $('span#' + items[i].id + '').html('');
            $('span#' + items[i].id + '').html(items[i].time);
        }
    });
</script>


